<div class="container">
    <div class="main-container">
        <div class="title-line">
            <div class="title" *ngIf="!gallery">My Galleries</div>
            <div class="buttons" *ngIf="!gallery">
                <button mat-button (click)="addGallery()"><i class='bx bx-plus bx-tada-hover'></i></button>
            </div>
            <div class="buttons" *ngIf="gallery">
                <button mat-button matTooltip="Back to galleries" (click)="backToList()">
                    <i class='bx bx-arrow-back bx-tada-hover'></i>
                </button>
                <button mat-button [matTooltip]="gallery.isFavorite ? 'Unfavorite' : 'Favorite'" (click)="addOrRemoveFavorite(gallery, $event)">
                    <i class='bx bx-tada-hover' [ngClass]="gallery.isFavorite ? 'bx-star' : 'bxs-star'"></i>
                </button>
                <button mat-button [matTooltip]="gallery.isPrivate ? 'Set public' : 'Set private'" (click)="setPublicStatus(gallery, $event)">
                    <i class='bx bx-tada-hover' [ngClass]="gallery.isPrivate ? 'bx-lock-open-alt' : 'bx-lock-alt'"></i>
                </button>
                <button mat-button matTooltip="Delete gallery" (click)="deleteGallery(gallery, $event)">
                    <i class='bx bx-trash bx-tada-hover'></i>
                </button>
                <button mat-button matTooltip="Add picture">
                    <i class='bx bx-plus bx-tada-hover'></i>
                </button>
            </div>
            <div class="title" style="margin-left: 10px;" *ngIf="gallery">{{gallery.name}}</div>
        </div>
        <div *ngIf="galleries && !gallery" class="gallery-list">
            <div class="gallery" (click)="selectGallery(g.id || '')" *ngFor="let g of galleries">
                <div class="image-container" [ngClass]="g.pictures?.length ? '' : 'ph'">
                    <div *ngFor="let url of g.pictures" class="image-sub-container" [ngClass]="getImgClass(g.pictures?.length || 0)">
                        <img class="img-back" [src]="url.displayUrl || placeholderImage" alt="cover">
                        <img [src]="url.displayUrl || placeholderImage" alt="cover">
                    </div>
                </div>
                <div class="data-container">
                    <div class="card-item">
                        <div class="gallery-name">
                            {{g.name}}
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text">
                            {{g.pictures?.length}} Pictures
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text" *ngIf="(g.likeCount || 0) > 1">
                            {{g.likeCount}} people liked this gallery
                        </div>
                        <div class="footer-text" *ngIf="(g.likeCount || 0) === 1">
                            {{g.likeCount}} person liked this gallery
                        </div>
                        <div class="footer-text" *ngIf="(g.likeCount || 0) === 0">
                            Nobody liked this gallery
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text" *ngIf="g.isPrivate">
                            <i class="bx bx-lock-alt"></i> Private
                        </div>
                        <div class="footer-text" *ngIf="!g.isPrivate">
                            <i class="bx bx-lock-open-alt"></i> Public
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text" *ngIf="g.isFavorite">
                            <i class="bx bx-star"></i> Favorited
                        </div>
                    </div>
                    <div class="card-item bottom-buttons">
                        <div class="button-list">
                            <button mat-button (click)="deleteGallery(g, $event)"><i class='bx bx-trash bx-tada-hover'></i></button>
                            <button mat-button (click)="addOrRemoveFavorite(g, $event)">
                                <i class='bx bx-tada-hover' [ngClass]="g.isFavorite ? 'bx-star' : 'bxs-star'"></i>
                            </button>
                            <button mat-button (click)="setPublicStatus(g, $event)">
                                <i class='bx bx-tada-hover' [ngClass]="g.isPrivate ? 'bx-lock-open-alt' : 'bx-lock-alt'"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <app-pager [itemCount]="total" (changeEvent)="setPage($event)"></app-pager>
        </div>
        <app-gallery [gallery]="gallery" *ngIf="gallery"></app-gallery>
    </div>
</div>
