<div class="container">
    <div class="main-container">
        <div class="title-line">
            <div class="title" *ngIf="!gallery">My Galleries</div>
            <div class="buttons" *ngIf="!gallery">
                <button mat-button><i class='bx bx-plus bx-tada-hover' (click)="addGallery()"></i></button>
            </div>
            <div class="buttons" *ngIf="gallery">
                <button mat-button matTooltip="Back to galleries" (click)="backToList()">
                    <i class='bx bx-arrow-back bx-tada-hover'></i>
                </button>
                <button mat-button [matTooltip]="gallery.isFavorite ? 'Unfavorite' : 'Favorite'">
                    <i class='bx bx-tada-hover' [ngClass]="gallery.isFavorite ? 'bx-star' : 'bxs-star'"></i>
                </button>
                <button mat-button [matTooltip]="gallery.isPrivate ? 'Set public' : 'Set public'">
                    <i class='bx bx-tada-hover' [ngClass]="gallery.isPrivate ? 'bx-lock-open-alt' : 'bx-lock-alt'"></i>
                </button>
                <button mat-button matTooltip="Delete gallery">
                    <i class='bx bx-trash bx-tada-hover'></i>
                </button>
                <button mat-button matTooltip="Add picture">
                    <i class='bx bx-plus bx-tada-hover'></i>
                </button>
            </div>
            <div class="title" style="margin-left: 10px;" *ngIf="gallery">{{gallery.name}}</div>
        </div>
        <div *ngIf="galleries && !gallery" class="gallery-list">
            <div class="gallery" (click)="selectGallery(gallery.id)" *ngFor="let gallery of galleries">
                <div class="image-container">
                    <div *ngFor="let url of gallery.pictureUrls" class="image-sub-container">
                        <img class="img-back" [src]="url" alt="cover">
                        <img [src]="url" alt="cover">
                    </div>
                </div>
                <div class="data-container">
                    <div class="card-item">
                        <div class="gallery-name">
                            {{gallery.name}}
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text">
                            {{gallery.pictureUrls.length}} Pictures
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text" *ngIf="gallery.likeCount > 1">
                            {{gallery.likeCount}} people liked this gallery
                        </div>
                        <div class="footer-text" *ngIf="gallery.likeCount === 1">
                            {{gallery.likeCount}} person liked this gallery
                        </div>
                        <div class="footer-text" *ngIf="gallery.likeCount === 0">
                            Nobody liked this gallery
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text" *ngIf="gallery.isPrivate">
                            <i class="bx bx-lock-alt"></i> Private
                        </div>
                        <div class="footer-text" *ngIf="!gallery.isPrivate">
                            <i class="bx bx-lock-open-alt"></i> Public
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="footer-text" *ngIf="gallery.isFavorite">
                            <i class="bx bx-star"></i> Favorited
                        </div>
                    </div>
                    <div class="card-item bottom-buttons">
                        <div class="button-list">
                            <button mat-button><i class='bx bx-trash bx-tada-hover'></i></button>
                            <button mat-button>
                                <i class='bx bx-tada-hover' [ngClass]="gallery.isFavorite ? 'bx-star' : 'bxs-star'"></i>
                            </button>
                            <button mat-button>
                                <i class='bx bx-tada-hover' [ngClass]="gallery.isPrivate ? 'bx-lock-open-alt' : 'bx-lock-alt'"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <app-pager [itemCount]="50" (changeEvent)="setPage($event)"></app-pager>
        </div>
        <app-gallery [gallery]="gallery" *ngIf="gallery"></app-gallery>
    </div>
</div>
